body{
    background: #ea8193;
    margin: 0;
    padding: 0;
}
.container{
    margin: 180px 300px;
    text-align: center;
    transition: .5s;
}
.container span{
    background-color: #ffffff;
    width:120px;
    height: 120px;
    display: block;
    line-height: 120px;
    font-family: arial;
    font-weight: bold;
    color: #a0a0a0;
    font-size: 40px;
    float:left;
}
.container:hover span:nth-child(1){
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.container:hover span:nth-child(6){
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.container:hover span:nth-child(odd){
    transform: skewY(-15deg);
    color: #5b5b5b;
    box-shadow: 0 60px 20px rgba(0,0,0,.1);
}
.container:hover span:nth-child(even){
    transform: skewY(15deg);
    color: #5b5b5b;
    box-shadow: 0 60px 20px rgba(0,0,0,.1), inset 0px 0 30px rgba(0,0,0,.2);
}
.container:hover{
    transform: rotateX(35deg);
}