body{
    margin: 0;
    padding: 0;
    background-color: grey;
}
.container{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    /* height: 500px;
    width: 400px; */
    /* border: 2px solid black; */
    text-align: center;
    vertical-align:middle;
}

.first div, .second button, .third div{
    display: inline-block;
    width: fit-content;
    margin-top: 20%;
    font-size: 30px;
    padding: 2.5%;
    border: none;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-transform: uppercase;
    background-color: transparent;
    transition: .3s cubic-bezier(.46,.89,.61,.21);
}
.second button{
    border: none;
    background-color: red;
    color: white;
}
.first div:hover, .second button:hover, .third div:hover{
    letter-spacing: 5px;

}